    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Success cases</h2>
                <p><i>"He succedeed in teaching me that everything under the sun should be tackled with courage, including love."</i>  -- Andre</p>
                  <p><i>"Con su capacidad para reinventarse me enseña que no hay límites para un espiritu creativo."</i> -- Jose</p>
                  <p><i>"De Rabí Rubén al mundo!"</i> -- Luciana</p>
                  <p><i>"Refugio y mecenazgo."</i> -- Mara</p>
                  <p><i>"La fundación me ha enseñado a ser mejor persona, a descubrir por mi mismo, y compartir esos descubrimientos con el mundo."</i> -- Tomas</p>

                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
